{{define "base"}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

    <title>{{template "title" .}}</title>

    <link rel="icon" href="/static/images/favicon-gopher.png" sizes="any" />
    <link
      rel="apple-touch-icon"
      href="/static/images/favicon-gopher-plain.png"
    />
    <link
      rel="icon"
      href="/static/images/favicon-gopher.svg"
      type="image/svg+xml"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {{template "nav" .}} {{template "main" .}}

    <footer>
      <div
        class="flex flex-col justify-center max-w-7xl mx-auto overflow-hidden px-6 py-20 sm:py-24 lg:px-8"
      >
        <p class="mt-6 text-center text-neutral inline leading-relaxed">
          Made with
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="h-5 w-5 text-red-600 inline"
          >
            <path
              d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z"
            ></path>
          </svg>
          for the Go community and anyone who find this useful by
          <a
            target="_blank"
            class="link text-cyan-800"
            alt="Adrien Poly Ruby on Rails developer / CTO"
            href="https://twitter.com/bgusji"
            >@bgusji</a
          >
          using an <a class="link underline text-cyan-800" href="/uses">simple stack.</a>
        </p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
{{end}}
