{{define "base"}}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>

    <title>{{template "title" .}}</title>

    <link rel="icon" href="/static/images/favicon-gopher.png" sizes="any">
    <link rel="apple-touch-icon" href="/static/images/favicon-gopher-plain.png"/>
    <link rel="icon" href="/static/images/favicon-gopher.svg" type="image/svg+xml">
  </head>
  <body>
    {{template "nav" .}}

    {{template "main" .}}

    <script src="/static/js/app.js"></script>
  </body>
</html>
{{end}}