{{define "title"}}Speakers{{end}} {{define "main"}}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <h1 class="text-3xl font-bold mb-8">Speakers</h1>

  <div class="flex flex-wrap gap-3 mb-8 justify-between">
    <button
      onclick="filterSpeakers('A')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      A
    </button>
    <button
      onclick="filterSpeakers('B')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      B
    </button>
    <button
      onclick="filterSpeakers('C')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      C
    </button>
    <button
      onclick="filterSpeakers('D')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      D
    </button>
    <button
      onclick="filterSpeakers('E')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      E
    </button>
    <button
      onclick="filterSpeakers('F')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      F
    </button>
    <button
      onclick="filterSpeakers('G')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      G
    </button>
    <button
      onclick="filterSpeakers('H')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      H
    </button>
    <button
      onclick="filterSpeakers('I')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      I
    </button>
    <button
      onclick="filterSpeakers('J')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      J
    </button>
    <button
      onclick="filterSpeakers('K')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      K
    </button>
    <button
      onclick="filterSpeakers('L')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      L
    </button>
    <button
      onclick="filterSpeakers('M')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      M
    </button>
    <button
      onclick="filterSpeakers('N')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      N
    </button>
    <button
      onclick="filterSpeakers('O')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      O
    </button>
    <button
      onclick="filterSpeakers('P')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      P
    </button>
    <button
      onclick="filterSpeakers('Q')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      Q
    </button>
    <button
      onclick="filterSpeakers('R')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      R
    </button>
    <button
      onclick="filterSpeakers('S')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      S
    </button>
    <button
      onclick="filterSpeakers('T')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      T
    </button>
    <button
      onclick="filterSpeakers('U')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      U
    </button>
    <button
      onclick="filterSpeakers('V')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      V
    </button>
    <button
      onclick="filterSpeakers('W')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      W
    </button>
    <button
      onclick="filterSpeakers('X')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      X
    </button>
    <button
      onclick="filterSpeakers('Y')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      Y
    </button>
    <button
      onclick="filterSpeakers('Z')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      Z
    </button>
    <button
      onclick="filterSpeakers('all')"
      class="text-gray-600 hover:text-cyan-800 border border-gray-300 rounded px-2 py-1 hover:cursor-pointer"
    >
      all
    </button>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-x-12">
    {{range .Speakers}}
    <div class="speaker-item flex items-center justify-between py-2" data-first-letter="{{slice .Name 0 1}}">
      <div class="flex items-center gap-3 w-full">
        <a href="/speakers/{{.ID}}" class="hover:text-cyan-800">{{.Name}}</a>
        <span class="text-cyan-800 ml-auto border border-cyan-800 rounded rounded-full w-10 font-mono text-center">{{.TalkCount}}</span>
      </div>
    </div>
    {{end}}
  </div>
</div>

<script>
  function filterSpeakers(letter) {
    const speakers = document.querySelectorAll(".speaker-item");

    speakers.forEach((speaker) => {
      if (letter === "all" || speaker.dataset.firstLetter === letter) {
        speaker.style.display = "";
      } else {
        speaker.style.display = "none";
      }
    });
  }

  filterSpeakers("all");
</script>
{{end}}
