{{define "title"}}Uses{{end}}
{{define "main"}}
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
  <h1 class="text-3xl font-bold mb-8">Uses</h1>

  <p class="my-4">This project was meant to be simple and easy to use. I build it for my own learning to help me implement a web app in Go programming language. I hope one day it can help me land a job as a Go developer while being useful for anyone who might need them.</p>

  <p class="my-4">I use the following stack:</p>

  <ul class="list-disc list-inside my-4">
    <li><span class="font-bold text-cyan-800">Go</span> without any framework</li>
    <li><span class="font-bold text-cyan-800">MySQL</span> for the database</li>
    <li><span class="font-bold text-cyan-800">TailwindCSS</span> for styling the UI</li>
    <li><span class="font-bold text-cyan-800">jQuery & simple JavaScript</span> for the frontend (sorry)</li>
    <li><span class="font-bold text-cyan-800">DigitalOcean</span> for hosting</li>
  </ul>

  <h3 class="text-2xl font-bold mt-8">Source Code</h3>
  <p class="my-4">You can find the source code on <a href="https://github.com/lobothijau/govideo" class="link text-cyan-800 underline">GitHub</a>.</p>
</div>
{{end}}
